<% provide(:title, "Add Airport") %>
<h1>Add Airport</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @airport, local: true) do |f| %>
        <%= render 'shared/error_messages' %>

      <%= f.label :iata, "IATA Code" %>
      <%= f.text_field :iata, class: 'form-control' %>

      <%= f.label :icao, "ICAO Code" %>
      <%= f.text_field :icao, class: 'form-control' %>

      <%= f.label :city, "City Name"%>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :airport_name, "Airport Name"%>
      <%= f.text_field :airport_name, class: 'form-control' %>

      <%= f.label :region, "Region (must be in ISO3166-2 format, for example US-IL or SI-012)"%>
      <%= f.text_field :region, class: 'form-control' %>

      <%= f.label :lat, "Latitude (must be a numeric value, for example 54.985 or -12.78)"%>
      <%= f.text_field :lat, class: 'form-control' %>

      <%= f.label :lon, "Longitude (must be a numeric value, for example 172.3 or -99.721648)" %>
      <%= f.text_field :lon, class: 'form-control' %>


      <%= f.submit "Add the airport", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>