<% provide(:title, "List") %>
<h1>Airport List</h1>
<p>The database contains <%= @airports.count %> airports. You can help by <a href=/add> adding another</a>!</p>
<hr>
<ul>
 <table style="width:100%">
   <tr>
    <th>IATA Code</th>
    <th>ICAO Code</th>
    <th>City</th>
    <th>Airport Name</th>
    <th>Region</th>
    <th>Location</th>
  </tr>
  
<% @airports.each do | airport | %>
 <tr>
    <td><%= airport.iata %></td>
    <td><%= airport.icao %></td>
    <td><%= airport.city %></td>
    <td><%= airport.airport_name %></td>
    <td><%= airport.uiRegion() %></td>
    <td><%= airport.location().to_s %></td>
  </tr>
<% end %>

  </table>
</ul>

<figure style="text-align:center">
    <%= image_tag("dfw.png", :height => 500, :width => 500, alt: "View of Dallas/Fort Worth International Airport from above") %> 
    <figcaption>Dallas/Fort Worth International Airport (DFW/KDFW) in June 2019 from an American Airlines Boeing 737-800. ©2019 Ben Mikek</figcaption>
</figure>